/************général************/
@font-face {
    font-family: "satisfy";
    src: url(../Satisfy-Regular.ttf);
}

body {
    background-color: #003809;
}

header, footer {
    text-align: center;
    font-size: 30px;
    color: ivory;
}

h1 {
    font-family: 'satisfy';
}
p, span{
    margin-left:10px;
    margin-right:10px;
}

/************************/
.éphéméride, .Météo{
    width: 400px;
    margin-left: 15px;
}
.Température{
    width:250px;
}
.éphéméride, .Température {
    border: 1px solid black;
    background-color: #bfecc6;
    margin-left: 15px;
}
table {
    border-collapse: collapse;
    background-color: #bfecc6;
}

td {
    border: 1px solid black;
    margin:3px;
}
/**************disposition****************/

.col1{
    float:left;
}
.Température{
    float:left;
    margin-left: 30px;
}
/*****************couleur*****************/
figure{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Tmin
{
background-color: #2196f3
;
}

.Tmax
{
background-color: #e86464 ;
}

.Tmoy
{
background-color:  #7be575;
}

a
{
color:  #FFFF00;
}
