@font-face {
    font-family: "satisfy";
    src: url(../Satisfy-Regular.ttf);
}

body {
    background-color: #003809;
}

header, footer {
    text-align: center;
    font-size: 30px;
    color: ivory;
}

h1 {
    font-family: 'satisfy';
}

.éphéméride, .Température {
    border: 1px solid black;
    background-color: #bfecc6;
}

table {
    border-collapse: collapse;
    background-color: #bfecc6;
}

td {
    border: 1px solid black;
}
.Tmin
{
background-color: #2196f3
;
}

.Tmax
{
background-color: #e86464 ;
}

.Tmoy
{
background-color:  #7be575;
}

a
{
color: e575
Jaune : #FFFF00;
}