{% extends 'baseTest.html.twig' %}
{% block content %}
{% if lastFile %}
<h2>Upload de {{ lastFile }} terminé</h2>
{% endif %}
<h2>Liste des fichiers présents</h2>


<table class="alt3">
{% for res in results %}
  {% if loop.first %}
  <tr>{% for clef, val in res %}<th>{{ clef }}</th>{% endfor %}</tr>
  {% endif %}
  <tr>{% for clef, val in res %}<td>{{ val }}</td>{% endfor %}</tr>
{% endfor %}
</table>

{% endblock %}