body {
    margin: 1em;    /* Un peu d'espace autour du document */
}
h1 {
    color: darkblue;   /* Le titre est en bleu */
}
img {
    vertical-align: middle;    /* On s'assure que la formule sera centrée '*/
}
p {
    margin-top: 0;             /* Pas d'espace au dessus '*/
    margin-bottom: 0.2em;      /* Un peu en dessous */
}
table {
    border-collapse: collapse; /* Fusion des bordures table + cellule */
}
table, th, td {
    border: 1px solid black;
    margin-top: 0.5em;          /* On décale un peu du paragraphe précedent */
}
th {
    background-color: lightgrey; /* R1. Mise en gris de la colonne de titres */
/*    text-align: center;           R2. Centrage des titres */
}
th, td {
    padding-left: 5px;      /* un peu d'espace au sein de la cellule */
    padding-right: 5px;
}
ol {
    padding-left: 1em; /* on indente un peu la liste */
    margin-top: 2em;    /* un peu d'espace par rapport à la table */
    list-style-position: inside;
}
.note {
    font-style: italic;
}

/*
NOTES COMPLEMENTAIRES
______________________
* Note 1:
Il est possible de considérer que dans le tableau Lou et Joé sont des titres <th> plutôt que des <td>.
La règle R1 mettrait ces cellules en gris.
Le plus simple alors pour limiter la mise en gris à la première colonne commme
dans le document témoin est d'utiliser
l'élément colgroup (décommenter dans le code HTML) qui regroupe des colonnes pour
permettre une mise en forme par CSS.
On remplacerait alors la règle R1 par:

.gcol1 {
	 background-color: lightgrey;
}
______________________
* Note 2:
Si on regarde en détail, les colonnes 2 et 3 sont justifiées à gauche.
Le plus simple là encore est d'utiliser <colgroup>.
On remplacerait R1 et R2 par:

.gcol1 {
    text-align: center;
    background-color: lightgrey;
}
.gcol2 {
    text-align: left;
}

______________________
* Note 3:
L'esprit est de faire au plus simple en gardant la structure et le look.
Le document témoin montre un changement de la police de caractère pour la numérotation de la liste.
Ce n'est pas nécessairement heureux dans l'original,
néanmoins si on veut le simuler on peut ajouter quelquechose comme:

ol {
	list-style-type: none;
	counter-reset: mylist;
}

li::before {
	counter-increment: mylist 1;
	content: counter(mylist) " ";

	font-family: Georgia, serif;
	font-size: 0.8em;
	font-weight: bold;
}
*/




